<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel='stylesheet' href='/stylesheets/signup.css' />
  <title>
    <%=title%>
  </title>
</head>

<body>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


  <div class="container">
    <br>
    <p class="text-center">Chat app zolo <a href="/"> trang chủ</a></p>
    <hr>
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Đăng nhập</h4>
        <p class="text-center">Bắt đầu với tài khoản hoàn toàn miễn phí</p>
        <p>
          <a href="" class="btn btn-block btn-gmail text-hover"> <i class="fab fa-google"></i>   Đăng nhập với Gmail</a>
          <a href="" class="btn btn-block btn-facebook text-hover"> <i class="fab fa-facebook-f"></i>   Đăng nhập với facebook</a>
        </p>
        <p class="divider-text">
          <span class="bg-light">OR</span>
        </p>
        <form action="/auth/signin" method="post" enctype="multipart/form-data">
          <!-- form-group// email-->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <% const mail = query.email ? query.email : ''; %>
              <input id="txtEmail" name="email" class="form-control" placeholder="Email address" value="<%= mail %>" type="email" title="Email" required>
          </div>
          <!-- form-group password// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input id="txtPassword" name="password" class="form-control" placeholder="Password" type="password" required>
          </div>
          <!-- form-group// submit-->
          <div class="form-group">
            <button id="btnDangNhap" type="button" class="btn btn-primary btn-block"> Đăng nhập  </button>
          </div>
          <!-- form-group// -->
          <p class="text-center">Chưa có tài khoản? <a href="/auth/signup">Đăng ký</a> </p>
        </form>
      </article>
    </div>
    <!-- card.// -->

  </div>
  <!--container end.//-->

  <br><br>
  <script>
    const checkEmail = () => {
      const res = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (res.test($('#txtEmail').val())) {
        return true;
      }
      alert('Email không hợp lệ');
      return false;
    }

    const checkPassword = () => {
      if (/[a-zA-Z0-9]{6,}/.test($('#txtPassword').val())) {
        return true;
      }
      alert('Password chứa chữ hoa, thường hoặc chữ số. Không chưa ký tự đặc biệt.');
      return false;
    }

    const signIn = () => {
      if (!checkEmail() || !checkPassword) return;
      $.ajax({
        type: 'POST',
        url: '/auth/signin',
        data: {
          email: $('#txtEmail').val(),
          password: $('#txtPassword').val()
        },
        success: function(result, err, xhr) {
          console.log('data ' + result.data, err, xhr);
          if (xhr.responseJSON.code == 200) {
            window.localStorage.setItem('accessToken', 'Bearer ' + xhr.responseJSON.jwt);
            window.location.replace('/');
          }
        }
      })
    }

    $(document).ready(() => {
      $('#txtEmail').blur(checkEmail);
      $('#txtPassword').blur(checkPassword);
      $('#btnDangNhap').click(signIn);
      $('#txtPassword').keydown((e) => {
        const key = e.which;
        if (key == 13) $('#btnDangNhap').click();
      });
    });
  </script>
</body>

</html>